.view-details-text {
    color: #6244BB;
    cursor: pointer;
}

.view-details-dropdown {
    line-height: 18px;
    font-size: 16px;
    .view-details-left {
        font-weight: 400;

    }
    .view-details-right {
        font-weight: 600
    }
}

