
.MuiDataGrid-root .MuiDataGrid-cell:focus-within, .MuiDataGrid-root .MuiDataGrid-columnHeader {
    outline: none !important;
}

.MuiDataGrid-columnSeparator {
    display: none !important;
}

.MuiDataGrid-columnHeader {
    background: #002244 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.MuiDataGrid-columnHeader .MuiDataGrid-columnHeaderTitle, .MuiDataGrid-columnHeaderTitleContainerContent .MuiCheckbox-colorPrimary{
    color: #FFFFFF !important;
}

.paragraph-text{
    font-weight: bold;
    color: #D50032;
}

.Mui-selected {
    background: transparent !important;
    font-weight: normal !important;
}

.MuiCheckbox-colorPrimary {
    color: #6244BB !important;
}

.Mui-odd{
    background: #F1F1F0 !important;
}

.Mui-selection {
    background-color: #CCCCCC !important;
    color: #333333 !important;
}

.Mui-hovered {
    background-color: #CCCCCC !important;
}

.MuiDataGrid-columnHeader.MuiDataGrid-withBorderColor {
    font-size: 15px;
}

#confirm-extract-modal-title, #confirm-extract-modal-description {
    user-select: none;
}