.headerTitle{
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-left: 35%;
    margin-right: 10%;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
}

.header-toolbar{
    text-align: center;
    background: #002244;
}

.unitedLogoIcon {
    width: 177px;
    height: 32px;
}

.header-right {
    margin-left: auto;
}
