@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root,
.app {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: center;
}

.subpage-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  padding-bottom: 10px;
}

.bottom-divider {
  border-bottom: 1px solid #ddd;
}

.go-back {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #6244bb !important;
}

.elevate-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.elevate-paper {
  border: 1px solid #eee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb:vertical {
  background: #6244bb;
  border-radius: 12px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:vertical:hover {
  background: #30118a;
}

.required {
  color: #d50032;
}
